[submodule "sm_1_12"]
	path = sm_1_12
	url = https://github.com/alliedmodders/sourcemod.git
	branch = 1.12-dev
[submodule "sm_latest"]
	path = sm_latest
	url = https://github.com/alliedmodders/sourcemod.git
	branch = master
[submodule "ext/log4sp"]
	path = ext/log4sp
	url = https://github.com/F1F88/sm-ext-log4sp.git
[submodule "ext/ripext"]
	path = ext/ripext
	url = https://github.com/ErikMinekus/sm-ripext.git
[submodule "ext/socket"]
	path = ext/socket
	url = https://github.com/JoinedSenses/sm-ext-socket.git
[submodule "ext/SteamWorks"]
	path = ext/SteamWorks
	url = https://github.com/KyleSanderson/SteamWorks.git
